<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/styles.css') }}">

        <script src="{{ asset('assets/libs/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/js/bootstrap.bundle.min.js') }}"></script>
        <style>
            html,body{
                height: 100%
            }

        </style>
        {% block stylesheets %}{% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{{ path('home') }}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Explore</a>
                </li>
            </ul>
            <ul class="navbar-nav">
            {% if app.user %}
                <li class="mr-2 border-dark-dark">
                    <a class="" href="{{ path("user_profile") }}">Profile</a>
                </li>
            {% else %}
                <li class="mr-2 border-dark-dark">
                    <a class="" href="{{ path("app_login") }}">Sign in</a>
                </li>
            {% endif %}
            </ul>
        </div>
    </nav>

    {% block body %}{% endblock %}


    <div class="footer fixed-bottom bg-light text-center">
        All rights reserved
    </div>
    </body>
</html>
